{% extends 'base.html' %}
{% block content %}
<h2>Catalog of Books</h2>
<div class="row row-cols-1 row-cols-md-3 g-4">
  {% for book in books %}
  <div class="col">
    <div class="card h-100">
      {% if book.image_path %}
      <img src="{{ url_for('book.serve_image', filename=book.image_path.split('/')[-1]) }}" class="card-img-top" alt="{{ book.title }}" style="height: 200px; object-fit: cover;">
      {% else %}
      <img src="{{ url_for('static', filename='default_book.jpg') }}" class="card-img-top" alt="Default book image" style="height: 200px; object-fit: cover;">
      {% endif %}
      <div class="card-body">
        <h5 class="card-title">{{ book.title }}</h5>
        <p class="card-text">Author: {{ book.author }}</p>
        <p>Price: ${{ book.price }}</p>
          {% if book.stock > 0 %}
            <p class="card-text"></p>
              <strong>Unidades disponibles:</strong> {{ book.stock }}
            </p>
            <form method="POST" action="{{ url_for('purchase.buy', book_id=book.id) }}">
              <input type="hidden" name="price" value="{{ book.price }}">
              <input type="number" name="quantity" class="form-control mb-2" value="1" min="1">
              <button type="submit" class="btn btn-primary">Buy</button>
            </form>
          {% else %}
          <p class="card-text"></p>
              <strong class="text-danger">No disponibles</strong>
          </p>
          {% endif %}
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}